.cardBorder {
  padding: 4px;
  border-radius: 17px;
  background: linear-gradient(135deg, var(--celeste), var(--azul), var(--rosa) 40%, var(--lila), var(--violeta), var(--celeste));
  height: 100%;
  width: 100%;
}

.mainCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 15px;
   scroll-margin-top:80px ;
}

.cardBody {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(82, 10, 10, 0.271);
  border-radius: 0 0 15px 15px;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.product {
  display: flex;
}

.categoryTitleContainer {
  width: 100%;
  background-color: #161111;
  height: 3rem;
  align-items: center;
  padding: 10px;
  border-radius: 13px 13px 0 0;
}

.product:last-of-type .dish {
  border-radius: 0 0 15px 15px;
}

.categoryTitle {
  color: #f2f1f1;
}

.dish {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}


.productPrice {
  margin-left: 20px;
}

.productTitle,
.productPrice {
  color: white;
}

.productPrice {
  text-shadow: 2px 2px black;
  -webkit-text-stroke: 1px gold;
  font-weight: 700;
}

.imageSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 calc(70% - 8px);
  margin-top: 20px;
  justify-content: space-between;
  border-radius: 15px;
  gap: 10px;
}

.images{
  border-radius: 15px;
  border: 2px solid white;
}

@media (max-width:1120px){ 
  .imageSection{
    gap: 20px;
  }
}


@media (max-width:550px){
  .images{
    width: 150px;
    height: 150px;
  }
}