

.cardBorder {
  padding: 4px;
  border-radius: 17px;
  background: linear-gradient(135deg, var(--celeste), var(--azul), var(--rosa) 40%, var(--lila), var(--violeta), var(--celeste));
  height: 100%;
}

.mainCard {
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.product {
  display: flex;
}

.categoryTitleContainer {
  width: 100%;
  background-color: #161111;
  height: 3rem;
  align-items: center;
  padding: 10px;
  border-radius: 13px 13px 0 0;
}

.categoryTitle {
  color: #f2f1f1;
}

.dish {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(82, 10, 10, 0.271);
  font-size: 1.1rem;
  font-weight: 700;
  color: #161111;
  height: 100%;
}

.productPrice{
  margin-left: 20px;
}

.productTitle, .productPrice{
  color: white;
}

.productPrice{
  text-shadow: 2px 2px black;
     -webkit-text-stroke: 1px gold;
     font-weight: 700;
}
  