.cardContainer {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0px 100px;
  background-color: #f8f8f8;
  align-items: stretch;
}

@media (max-width:768px) {
  .cardContainer{
    margin: 0 25px;
    padding-top: 200px;
  }
}