.navbar{
    position: fixed;
    width: 100%;
    background-color: rgba(252, 249, 249, 0.1);
    backdrop-filter: blur(5px);
    z-index: 100;
    padding: 10px 20px;
}

.links{
    position: absolute;
    top: 0;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.9);
    color: aliceblue;
    width: max-content;
    height: 100vh;
    padding: 20px;
}

.linksList{
    color: aliceblue;
    font-size: large;
}

.hide{
    display: none;
}

.li{
    list-style-type: none;
    padding-top: 25px;
}

.iconContainer{
    position: relative;
    z-index: 300;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

@media (max-width:500px){
    
}